@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.btn {
    border-radius: 5px;
    border: none;
    background-color: rgb(176, 198, 238);
}