@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

.joke{
    background-color: cornflowerblue;
    border-radius: 10px;
}

h1{
    color: cornsilk;
}